* {
    box-sizing: border-box;
}
/* The code below ensures that all elements are sized in this more intuitive way. Many browsers already use box-sizing: border-box; for many form elements (but not all - which is why inputs and text areas look different at width: 100%;) */

body {
    background-color: blue;
    color: turquoise;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* media queries are always at the very bottom of your CSS page */
@media screen and (max-width:480px) {
    body {
        background-color: red;
        color: greenyellow;
    }
}